.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-image: url(/images/background_header.svg);
  background-position: center;
  background-size: cover;
  background-color: #ffffff;
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  color: #2f80ed;
  text-decoration: underline;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  padding: 124px 5px 124px 875px;
}

.header__title {
  max-width: 729px;
  font-family: "Inter";
  font-size: 60px;
  font-weight: 500;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
  color: #6f6f6f;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
  color: #ffffff;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  margin-bottom: 80px;
  color: #ffffff;
}

.reservation {
  padding: 100px 0 120px;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin-top: 8px;
  height: 60px;
  border-radius: 4px;
}
.form__input::placeholder {
  padding: 10px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  color: #838383;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  height: 60px;
  background-color: #2f80ed;
  color: #ffff;
  border-style: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
